<!DOCTYPE html>
<html>
   <head>
      <title>HTML Backgorund Color</title>
   </head>
   <body style="background-color:green;">
      <h1>Demo:V1</h1>
      <p>The hostname of the container is <b>{{ hostname }}</b> and its IP is <b>{{ ip }}</b>..</p>
      <h1>Hello Digital Innovation</h1>
   </body>
</html>
